@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* material-icons-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./icons/material-icons-v145-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* material-icons-outlined-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("./icons/material-icons-outlined-v110-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.task-item .task-delete,
.task-item .task-edit {
  display: none;
}

.task-header {
  min-height: 30px;
  max-height: 30px;
  height: 30px;
}
.task-item:hover .task-delete,
.task-item:hover .task-edit {
  display: inline-block;
}

.all-tasks-page .all-number-of-tasks,
.today-page .today-number-of-tasks,
.overdue-page .overdue-number-of-tasks {
  margin-left: auto;
  color: var(--slightly-light-grey);
  padding-right: 10px;
}

.number-of-tasks {
  color: var(--slightly-light-grey);
  padding-right: 10px;
}

.project-item .project-delete {
  display: none;
}

.project-item:hover .project-delete {
  display: inline-block;
}

.project-item:hover .right-option .number-of-tasks {
  display: none;
}

.project-item .edit {
  display: none;
}

.project-item:hover .right-option .edit {
  display: block;
}

:root {
  --icon-color: #666666;
  --darker-main-color: rgb(24, 64, 199);
  --main-color: rgb(46, 92, 244);
  --lighter-main-color: #e5ecff;

  --sidebar-color: #f9f9f9;
  --on-project-color: #e5eaff;
  --on-hover: #eae9eb;

  --orange: #ebba47;
  --blue: #47b1eb;
  --red: #e96161;
  --light_orange: #f4dbbd;
  --light_blue: #d1e1f4;
  --light_red: #f8caca;

  --left-margin: 15px;
  --black: #202020;
  --grey: #454545;
  --light-grey: #e6e6e6;
  --slightly-light-grey: #b0a9a6;
}

* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100vh;
  font-family: "Roboto";

  /* Removes the scroll  */
  overflow: hidden;
}

#hidden {
  display: none;
}

#one {
  grid-template-columns: 0;
}

/* div {
  border: 0.2px solid rgba(255, 0, 0, 0.263);
} */

.icon {
  font-family: "Material Icons Outlined", "Material Icons";
}

.sidebar-item,
.project-item {
  display: flex;
}
.main-container {
  height: 100%;

  display: grid;

  grid-template-columns: 275px 1fr;

  overflow: auto;
}

.project-item.current,
.sidebar-item.current {
  color: var(--darker-main-color);
  background-color: var(--lighter-main-color);
}

.sidebar-item.current p,
.sidebar-item.current .icon,
.project-item.current span:not(.project-delete) {
  color: var(--darker-main-color);
}

.sidebar {
  grid-column: 1 / 1;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-color);
}

.sidebar-upper,
.sidebar-lower,
.projects-container {
  display: flex;
  flex-direction: column;

  gap: 2px;
}

.sidebar-options {
  padding-top: 20px;
  padding-bottom: 20px;

  height: 50px;
  display: flex;
  align-items: center;
}

.main-content {
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
}

.header-toggle-sidebar {
  margin-left: var(--left-margin);
  border-style: none;
  padding: 5px;
  background-color: var(--sidebar-color);
  background-color: white;
  display: none;
}

.sidebar-item,
.project-item {
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 40px;

  border-style: none;
  margin-right: var(--left-margin);
}

.add-task,
.add-task .icon {
  color: var(--main-color);
  font-weight: bold;
}

.add-task .icon {
  font-size: 27px;

  /* To align */
  margin-right: -7.1px;
}

.sidebar-options .icon.right,
.add-projects {
  margin-left: auto;
  margin-right: var(--left-margin);
  border-style: none;
  padding: 5px;
  background-color: var(--sidebar-color);
}

.sidebar-options .icon.left {
  color: var(--black);
  margin-right: 2px;
}

.icon {
  color: var(--icon-color);
  font-size: 20px;
}

.sidebar-item,
.project-item,
.project-item input {
  background-color: var(--sidebar-color);
}

.sidebar-item p,
.project-item div,
.project-item input {
  margin-left: var(--left-margin);
}
.project-item .right-option {
  margin-left: auto;
  display: flex;
}

.project-form-options {
  display: flex;
}

.right-option span {
  font-size: 15px;
  align-self: center;

  font-weight: lighter;
}

.projects-item {
  position: relative;
}

.project-item form {
  width: 150px;
}

.project-cancel {
  color: var(--red);
  margin-right: 5px;
}

.project-add {
  color: var(--main-color);
}

.project-item input {
  padding: 5px 5px;
  font-size: 15px;
  width: 100%;

  border-radius: 10px;
  background-color: white;
  border: 1.3px solid #a5a5a585;
  font-weight: thin;
  color: var(--grey);
}

.sidebar-item:not(.add-task),
.project-item {
  color: var(--grey);
}

button {
  border-radius: 5px;
}

.title-wrapper {
  /* display: flex; */
}

.sidebar-lower,
.sidebar-upper,
.sidebar-footer {
  margin-left: var(--left-margin);
}

.project-delete {
  color: white;
  border-style: none;
  background-color: var(--red);
  font-size: 14px;
  font-weight: lighter;
  margin-right: 5px;
  padding: 2px;
}

.sidebar-lower + div {
  margin-top: auto;
  padding-bottom: 10px;
}

.projects-container,
.task-description,
.sidebar,
.main-container,
.main-content {
  overflow-x: hidden;
}
.projects-container {
  overflow: auto;
}

.projects-container .icon {
  margin-left: 5px;
}

.projects-title-wrapper {
  display: flex;
  align-items: center;
}

.projects-title {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: var(--left-margin);
}

.icon.left,
.project-item,
.sidebar-item:not(.add-task) {
  padding-left: 5px;
}

.add-task {
  padding-left: 2px;
}

.sidebar-title,
.sidebar-options .icon.left {
  font-size: 30px;
  font-weight: bold;
  color: var(--black);
}

/* PROJECTS */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
  display: flex;

  align-items: center;
}

.header button {
  padding: 5px;

  border-radius: 50px;
}

.project-content,
.project-title {
  align-self: center;
  width: 67%;
  margin: 0px 67px;

  /* border: 0.2px solid blue; */
}

.project-content {
  margin-top: 10px;
  /* border: 2px solid red; */
}

.project-title {
  font-size: clamp(1.2rem, 3.3vw, 1.5rem);
  font-weight: bold;

  padding-bottom: 15px;
  /* margin-top: 25px; */
}

/* TASKS */
.task-item {
  display: flex;

  border-bottom: 1.3px solid #a5a5a585;

  margin-bottom: 20px;
  padding-top: 0px;
}

.task-item div {
  margin-bottom: 5px;
  width: 100%;
}

.task-header {
  display: flex;
  align-items: center;
}

.task-header > .task-edit,
.task-header > .task-delete {
  margin-left: auto;
  margin-right: 5px;
  border: none;
  height: 30px;
  width: 30px;

  background-color: white;
}

.task-delete span {
  color: #e96161;
}

.task-title {
  font-size: 16px;
}
.task-description {
  font-size: 12px;
  color: grey;
  padding-bottom: 10px;

  white-space: pre-wrap;
}

.task-description-none {
  font-size: 12px;
  color: grey;
  padding-bottom: 0px;

  white-space: pre-wrap;
}
.task-texts {
  margin-left: var(--left-margin);
}

.task-date {
  display: flex;
  align-items: center;
}

.task-date .icon {
  margin-right: 5px;
}

.task-date-text,
.task-date .icon {
  font-size: 12px;
  flex: 0;
}

.task-date-text {
  min-width: 200px;
}

.checkmark {
  margin-top: 3px;
  height: 20px;
  min-width: 20px;
  border-radius: 100px;

  border: 1.3px solid grey;
  position: relative;
}

.checkmark .icon {
  display: none;
  position: absolute;
  right: 1.7px;
  top: 1.9px;
  font-size: 13px;
}

.checkmark.none .icon {
  display: none;
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 13px;
}

.checkmark:hover .icon {
  display: block;
}

/* DIALOG */

dialog::backdrop {
}

dialog > * {
  border: 1.5px solid var(--icon-color);
}
dialog[open] {
  position: absolute;

  height: 100%;
  width: 100%;

  background: none;
  border: none;
  display: flex;
  justify-content: center;
}

.add-task-dialog-content {
  position: relative;
  top: -10%;
  width: 500px;
  height: 200px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 20px;

  border-radius: 25px;

  background-color: white;
}

.add-task-buttons {
  display: flex;
}

#add-task-dialog-title,
#add-task-dialog-description {
  padding: 5px 10px;
  border-style: none;
}
#add-task-dialog-title {
  height: 30px;
  font-size: 19px;

  flex-shrink: 0;
  margin-bottom: 2px;
}

#add-task-dialog-description {
  height: 100%;
  resize: none;
}

.button-wrapper {
  margin-left: auto;
}

.options-wrapper > * {
  margin-right: 0px;
  border-radius: 10px;
  border: 1.5px solid var(--light-grey);
  padding: 0px 3px;
}

.options-wrapper {
  gap: 5px;
}

.button-wrapper,
.options-wrapper {
  display: flex;

  width: min-content;
  margin-top: var(--left-margin);
}

.button-wrapper > button {
  padding: 10px;
  font-weight: bold;
  margin-left: 5px;
  border-style: none;
}
.submit-add-task {
  background-color: var(--main-color);
  color: white;
}

.cancel-add-task {
  background-color: #e4e4e4;
}

button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Task Edit form */

.task-item > .edit-task-container {
  margin-bottom: 20px;
}

.edit-task-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1.5px solid var(--light-grey);
  padding: 5px;
}

.task-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

#edit-task-date,
#edit-task-priority {
  height: 30px;
  border: 1.5px solid var(--light-grey);
  border-radius: 5px;
  padding: 0px 2px;
}

#edit-task-title {
  font-weight: bold;
}

#edit-task-description {
  resize: none;
  min-height: 80px;
}

.task-item,
.edit-task-container {
  min-width: 384.5px;
}

.task-button-wrapper {
  margin-left: auto;
}

#edit-task-title,
#edit-task-description {
  font-size: 14px;
  padding: 5px;
  /* height: 240px; */
  border-style: none;
}

.task-button-wrapper {
  flex: 0;
  display: flex;
  flex-direction: row;
}

.edit-task-container button {
  padding: 10px;
  font-weight: bold;
  margin-left: 5px;
  border-style: none;
}

.edit-task-cancel {
  color: var(--grey);
  background-color: var(--sidebar-color);
}

.edit-task-add {
  color: white;
  background-color: var(--main-color);
  margin-right: 10px;
}

.task-options {
  padding: 5px;
}

.task-options > input,
.task-options > select {
  align-self: center;
}

/* hover */
button:hover {
  cursor: pointer;
}
.project-item:not(.current):hover,
.sidebar-item:not(.current):hover {
  background-color: var(--on-hover);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.edit-task-container:focus-within {
  border: 1.5px solid #b8b8b8;
}

/* date colors */

.today {
  color: #09a633;
}

.yesterday {
  color: #eeb10c;
}

.past {
  color: #ff3d2a;
}

/* priority colors */
.priority-color-low {
  border: none;
  color: var(--blue);
}

.priority-color-medium {
  border: none;
  color: var(--orange);
}

.priority-color-high {
  border: none;
  color: var(--red);
}

.priority-color-low:not(.icon) {
  border: 2px solid var(--blue);
  background-color: var(--light_blue);
}

.priority-color-medium:not(.icon) {
  border: 2px solid var(--orange);
  background-color: var(--light_orange);
}

.priority-color-high:not(.icon) {
  border: 2px solid var(--red);
  background-color: var(--light_red);
}

#showK {
  display: inline;
}

@media (max-width: 600px) {
  .sidebar {
    /* toggle */
    display: none;
  }
  .sidebar-item,
  .sidebar-footer {
    align-items: center;
  }

  .task-item {
    /* toggle */
    /* display: none; */
    min-width: 50px;
  }

  .main-content {
    width: 100%;
  }

  #main-content-toggle {
    display: none;
  }

  #sidebar-toggle {
    display: inline-block;
  }

  #main-container-toggle {
    /* toggle */
    grid-template-columns: 1fr 0px;
  }

  .main-container {
    grid-template-columns: 0px 1fr;
  }

  .sidebar {
    grid-column: 1 / 1;
  }

  #show {
    display: inline;
  }

  .task-item .task-delete,
  .task-item .task-edit {
    display: inline-block;
  }

  .add-task-dialog {
    min-width: 100%;
  }

  .add-task-dialog-content {
    position: relative;

    min-width: 272px;

    width: 100%;
    height: 200px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 20px;

    margin-left: 20px;
    margin-right: 20px;

    border-radius: 25px;

    background-color: white;
  }

  .add-task-dialog-content input,
  .add-task-dialog-content select {
    width: 150px;
  }
  .options-wrapper {
    flex-direction: column;
  }

  .button-wrapper {
    gap: 2px;
    flex-direction: column;
    width: 80%;
    width: 150px;
  }
  .sidebar-footer {
    display: none;
  }
}
